* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  background: #ffc624;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
  background: #ffc624;
  height: 15em;
  margin-top: 4em;
  display: none;
  animation: drop 5s both;
  transition: all ease-in-out;
}

@keyframes drop {
  from{
    transform: none;
    opacity: 0;
  }
  20%{
    opacity: 0.5;
  }
  50%, to {
    transform: translateY(1em);
    opacity: 1;
  }
}
svg {
  position: fixed;
  top: 1em;
  z-index: 10;
  left: 1em;
  width: 3em;
  height: 3em;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  align-items: center;
  height: 4em;
  background: #ffc624;
}

nav ul li {
  display: flex;
  
  justify-content: center;
  font-weight: bold;
  color: #f7f3f3;
  text-shadow: 2px 2px #837d7d;
  font-size: 1.5em;
  margin: 0 auto;
}

nav ul li a{
  text-decoration: none;
  color: white;
}
body {
  background: rgb(208, 238, 208);
}
.header_two {
  display: none;
}
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  width: 20rem;
  margin: 2em auto;
}
header p {
  font-size: 0.9rem;
}

h1 {
  font-weight: bold;
  font-size: 1.4em;
}
main {
  margin-top: 2em;
}
form {
  display: flex;
  flex-direction: column;
  width: 25em;
  margin: 5em auto;
  background: #f7f3f3;
  max-width: 17rem;
  border-radius: 15px;
}
.form_container {
  width: 100%;

  background: #f7f3f3;
  max-width: 25rem;
  margin: 5em auto;
  padding: 5em;
  border-radius: 15px;
}

form label,
form button {
  margin: 0.7em auto;
}
form div {
  margin: 0.7em auto;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
form input,
form select {
  width: 15em;
  height: 5em;
  border-radius: 15px;
  border: none;
  padding: 0.5em;
  font-size: 1em;
}
#gender {
  width: 15.5em;
  height: 4.7em;
}

::placeholder {
  padding: 1em;
}
form button {
  width: 18em;
  font-size: 1em;
  font-weight: bold;
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  height: auto;
  background: rgb(148, 224, 235);
}

.class_row {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: flex-start;
}
.activity_level select {
  width: 31rem;
  height: 4.4em;
}
.password input {
  width: 30em;
  height: 3em;
}

/* css media query for small phne for size */

@media (max-width: 450px) {
  * {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }
  #svg {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body {
    background: rgb(208, 238, 208);
  }
  .header_two {
    display: none;
  }
  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 20rem;
    margin: 2em auto;
  }
  header p {
    font-size: 0.9rem;
  }

  h1 {
    font-weight: bold;
    font-size: 1.4em;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 25em;
    margin: 5em auto;
    background: #f7f3f3;
    max-width: 17rem;
    padding: 1.5em;
    border-radius: 15px;
  }
  .form_container {
    width: 100%;

    background: #f7f3f3;
    max-width: 25rem;
    margin: 5em auto;
    padding: 5em;
    border-radius: 15px;
  }

  form label,
  form button {
    margin: 0.7em auto;
    margin-left: 1em;
  }
  form div {
    margin: 0.7em auto;
  }

  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  form input,
  form select {
    width: 15em;
    height: 4em;
    border-radius: 15px;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 1em;
    margin-left: -1em;
  }
  #gender {
    width: 15.5em;
    height: 4.7em;
  }

  ::placeholder {
    padding: 1em;
  }
  form button {
    width: 18em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.8em;
    border-radius: 10px;
    border: none;
    height: auto;
    margin-left: -1em;
    background: rgb(148, 224, 235);
  }

  .class_row {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start;
  }
  .activity_level select {
    width: 15.5rem;
    height: 4.4em;
    margin-left: -1em;
  }
  .password input {
    width: 15rem;
    height: 3em;
    margin-left: -1em;
  }
}

/* css media qury for tablet size */
@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
  }
  nav ul {
    background: #ffc624;
    height: 5em;
  }
  .header_one {
    display: none;
  }
  .header_two {
    display: block;
    width: 40em;
  }
  header p {
    font-size: 1em;
  }

  h1 {
    font-weight: bold;
    font-size: 3em;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f3f3;
    max-width: 120em;
    padding: 7em;
    border-radius: 15px;
    align-self: flex-start;
    margin-right: 5em;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  form label,
  form button {
    margin: 0.7em auto;
  }
  form div {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    width: 15em;
    margin: 1em auto;
  }
  ::placeholder {
    padding: 1em;
  }
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  form input,
  form select {
    width: 15em;
    height: 3.5em;
    border-radius: 10px;
    border: 1px solid #2b2929;
    padding: 0.5em;
    padding-left: 0.3em;
    font-size: 1em;
  }

  form label {
    margin: 0.5em 0.5em 0.8em 0.7em;
  }
  form button {
    width: 105em;
    height: 5em;
    font-size: 1em;
    font-weight: bold;
    padding: 1.5em;
    border-radius: 10px;
    border: none;
    height: auto;
    background: rgb(148, 224, 235);
  }
  .activity_level select {
    width: 31em;
    height: 4.4em;
  }
  .password input {
    width: 30em;
    height: 3em;
  }
}

/* csss  for desktop screens */

@media only screen and(max-width: 600px) {
  body {
    display: flex;
    align-items: center;
  }
  nav ul {
  }
  .navList {
    background: #ffc624;
    height: 15em;
  }
  .header_one {
    display: none;
  }
  .header_two {
    display: block;
    width: 40em;
  }
  header p {
    font-size: 1em;
  }

  h1 {
    font-weight: bold;
    font-size: 3em;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f3f3;
    max-width: 120em;
    padding: 7em;
    border-radius: 15px;
    align-self: flex-start;
    margin-right: 5em;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  form label,
  form button {
    margin: 0.7em auto;
  }
  form div {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    width: 15em;
    margin: 1em auto;
  }
  ::placeholder {
    padding: 1em;
  }
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  form input,
  form select {
    width: 15em;
    height: 3.5em;
    border-radius: 10px;
    border: 1px solid #2b2929;
    padding: 0.5em;
    padding-left: 0.3em;
    font-size: 1em;
  }

  form label {
    margin: 0.5em 0.5em 0.8em 0.7em;
  }
  form button {
    width: 105em;
    height: 5em;
    font-size: 1em;
    font-weight: bold;
    padding: 1.5em;
    border-radius: 10px;
    border: none;
    height: auto;
    background: rgb(148, 224, 235);
  }
  .activity_level select {
    width: 31em;
    height: 4.4em;
  }
  .password input {
    width: 30em;
    height: 3em;
  }
}
